<div>
  <main>

	<div class="row col-12 m-3 gy-3">
		
		<a href="/" class="btn btn-outline-primary text-center col-3 g-5 p-1">Return to home page</a>
			<div class="col-5 g-5"></div>
		<a href="/facebook" class="btn btn-outline-primary text-center col-3 g-5 p-1">Next page</a>		

	</div>

	<hr class="row col-12 my-1">

	<div class="row col-12 my-3 nav-tabs text-center">
		<div class="nav">
			{{#each tabs}}	
				<div class="nav-item col-2 g-3">
					<a href="{{href}}" class="btn nav-link {{#if isActive}} active {{/if}}">{{text}}</a>
				</div>
			{{/each}}
		</div>
	</div>	


	
    <section class="row col-12 gy-3 ps-3">
      <center>
        <h1><b>{{name}} | {{occupation}}</b></h1>
        <div>
          <small>{{nationality}}</small>
        </div>
        <br />
        <hr />
        <small>
          <div>
            Born:
            {{birthdate}}
            -
            {{birthplace}}
          </div>
          <div>
            Dead:
            {{deathdate}}
            -
            {{deathplace}}
          </div>
        </small>
      </center>
    </section>

    <hr />
    

    <section class="row col-12 gy-3 ps-3">
      <div>
		<h2>{{> title data='Known For'}}</h2>
		<ul>
			{{#each known_for}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
      </div>
    </section>

	
	<hr>

	<section class="row col-12 gy-3 ps-3">
		<div>
			<h3> {{> title data='Notable publications'}} </h3>
		</div>
		<div>
			<ul>
				{{#each notable_publications}}
					<li>
						<div>{{title}} ({{year}}) - "{{publisher}}"</div>
					</li>
				{{/each}}
			</ul>
		</div>
	</section>

	
	<hr>

	<section class="row col-12 gy-3 ps-3">
		<div>
			<h3> {{> title data='Parthners'}} </h3>
		</div>
		<div>
			<ul>
				{{#each partners}}
					<li>
						<p>
							{{name}} ({{relationship}}) - {{years}}
						</p>
					</li>
				{{/each}}
			</ul>
		</div>
	</section>

	
	<hr>

	<section class="row col-12 gy-3 ps-3">
		<div><h3>{{> title data='Awards'}}</h3></div>
		<div>
			<ul>
				{{#each awards}}
					<li>
						<em>{{title}}</em> ({{year}}) - "{{description}}"
					</li>
				{{/each}}
			</ul>
		</div>
	</section>

	
	<hr>
	<hr>

	<section class="row col-12 gy-3 ps-3">
		<div>
			<h3> {{> title data="Influences"}} </h3>
		</div>
		<div>
			<ul>
				{{#each influences}}
				<li>{{this}}</li>
				{{/each}}
			</ul>
		</div>
	</section>

	

	<section class="row col-12 gy-3 ps-3">
		<div>
			<h4> {{> title data="Influenced"}} </h4>
		</div>
		<div>
			<ul>
				{{#each influenced}}
				<li>{{this}}</li>
				{{/each}}
			</ul>
		</div>
	</section>



	<section class="row col-12 gy-3 ps-3">
		<div>
			<h4> {{> title data="Quotes"}} </h4>
		</div>
		<div>
			<ul>
				{{#each quotes}}
				<li>{{this}}</li>
				{{/each}}
			</ul>
		</div>
	</section>	

	
	<hr>
	<hr>

	<section class="row col-12 gy-3 ps-3">
		<div>
			<h3>{{> title data="Major discoveries"}}</h3>
		</div>
		<div>
			<ul>
				{{#each major_discoveries}}
					<li>
						<div>
							<b><em>{{title}} ({{year}})</em></b> "{{description}}"
						</div>
					</li>
				{{/each}}
			</ul>
		</div>
	</section>

	
	<hr>

	<section class="row col-12 gy-3 ps-3">
		<div>
			<h3>
				{{> title data='Contributions'}}
			</h3>
		</div>
		<div>
			{{#with contributions}}
				<p><center>{{title}} | {{year}}</center></p>
				<p><center><em>{{description}}</em></center></p>
				<p><center>{{field}}</center></p>
			{{/with}}
		</div>
	</section>
	
  </main>
</div>