<main class="text-bg-light">

  <div class="row col-12 m-3 gy-3">
		
		<a href="/" class="btn btn-outline-primary text-center col-3 g-5 p-1">Return to home page</a>
			<div class="col-5 g-5"></div>
		<a href="/facebook" class="btn btn-outline-primary text-center col-3 g-5 p-1">Next page</a>		

	</div>

	<hr class="row col-12 my-1">

	<div class="row col-12 my-3 nav-tabs text-center">
		<div class="nav">
			{{#each tabs}}	
				<div class="nav-item col-2 g-3">
					<a href="{{href}}" class="btn nav-link {{#if isActive}} active {{/if}}">{{text}}</a>
				</div>
			{{/each}}
		</div>
	</div>	

  <section class="row col-12 g-2 my-3">
    <div class="row col-12 text-center text-bg-secondary p-3">
      <div class="display-1">{{make}} {{model}}</div>
      <div class="display-6">{{year}} ({{color}})</div>
    </div>
  </section>

  <section class="row col-12 g-2 my-3">
    {{#with features}}

      <div class="card row col-12 g-2 m-1 p-2">
        {{#with interior}}
          <div class="display-5 text-center">Interior</div>
            <div class="row col-12 g-1 m-1 p-1">
              {{#with seats}}
                <div class="card row col-4 g-1 m-1 p-1">
                  
                  <div class="card-title text-center">
                    Seats
                  </div>
                  <div class="card-body">
                    {{material}} {{color}} 
                    {{#if heated}}<p class="badge text-bg-warning display-5 col-3 g-1 my-2">Heated</p>{{/if}}
                    {{#if heated}}<p class="badge text-bg-success display-5 col-4 g-1 my-2">Ventilated</p>{{/if}}
                  </div>
                  
                </div>
              {{/with}}

              {{#with dashboard}}
                <div class="card row col-4 g-1 m-1 p-1">
                  
                    <div class="card-title text-center">
                      Dashboard
                    </div>
                    <div class="card-body">
                      {{material}} {{color}} <br>
                      {{#with display}}
                        Display: {{#if touchscreen}}<p class="badge text-bg-success text-lg display-5 col-5 g-1">Touchscreen</p>{{/if}}
                        <ul>
                          <li>{{type}}</li>
                          <li>{{size}}</li>
                          <li>{{resolution}}</li>
                        </ul>
                      {{/with}}
                    </div>
                  
                </div>
              {{/with}}

              {{#with audio}}
                <div class="card row col-4 g-1 m-1 p-1">
                    
                      <div class="card-title text-center">
                        Audio
                      </div>
                      <div class="card-body">
                        <ul>
                          <li>
                            {{system}} <br>
                            {{speakers}} <br>
                            {{#if subwoofer}}<p class="badge text-bg-warning display-5 col-5 g-1 my-2">Subwoofer</p>{{/if}} <br>
                            {{#if bluetooth}}<p class="badge text-bg-primary display-5 col-5 g-1 my-2">Bluetooth</p>{{/if}} <br>
                            {{#if USB}}<p class="badge text-bg-success display-5 col-3 g-1 my-2">USB</p>{{/if}} <br>
                          </li>
                        </ul>
                      </div>
                    
                </div>
              {{/with}}
            </div>
          
        {{/with}}    
      </div>


      <div class="card row col-12 g-2 m-1 p-2">
        {{#with exterior}}
          <div class="display-5 text-center">Exterior</div>
            <div class="row col-12 g-1 m-1 p-2">
              {{#with wheels}}
                <div class="card row col-4 m-1 p-1">
                  
                  <div class="card-title text-center">
                    Weels
                  </div>
                  <div class="card-body">
                    {{size}} {{type}} {{color}} 
                </div>
                  
                </div>
              {{/with}}

              {{#with headlights}}
                <div class="card row col-4 m-1 p-1">
                  
                    <div class="card-title text-center">
                      Headlights
                    </div>
                    <div class="card-body">
                      {{type}} {{brightness}} 
                      {{#if automatic}}<p class="badge text-bg-success text-lg display-5 col-5 g-1">Automatic</p>{{/if}}
                    </div>
                  
                </div>
              {{/with}}

              {{#with sunroof}}
                <div class="card row col-4 m-1 p-1">
                    
                  <div class="card-title text-center">
                    Sunroof
                  </div>
                  <div class="card-body">
                    {{type}} {{size}}
                    {{#if automatic}}<p class="badge text-bg-success text-lg display-5 col-5 g-1">Automatic</p>{{/if}}
                  </div>
                      
                    
                </div>
              {{/with}}
            </div>
          
        {{/with}}
      </div>

      <div class="card row col-12 g-2 m-1 p-2">
        {{#with safety}}
          <div class="display-5 text-center">Safety</div>
            <div class="row col-12 g-1 m-1 p-2">
              {{#with airbags}}
                <div class="card row col-4 m-1 p-1">
                  
                  <div class="card-title text-center">
                    Airbags
                  </div>
                  <div class="card-body">
                    
                      Front: {{front}} <br>
                      Side: {{side}} <br>
                      Knee: {{knee}} <br>
                      Rear: {{rear}} <br>
                   
                </div>
                  
                </div>
              {{/with}}

              {{#with assistance}}
                <div class="card row col-4 m-1 p-1">
                  
                    <div class="card-title text-center">
                      Assistance
                    </div>
                    <div class="card-body">
                      
                      {{#if blind_spot_monitoring}}<p class="badge text-bg-success text-lg display-5 col-12 g-1">Blind spot monitoring</p>{{/if}}
                      {{#if rear_cross_traffic_alert}}<p class="badge text-bg-warning text-lg display-5 col-12 g-1">Rear cross traffic alert</p>{{/if}}
                      {{#if lane_departure_warning}}<p class="badge text-bg-danger text-lg display-5 col-12 g-1">Lane departure warning</p>{{/if}}
                      {{#if adaptive_cruise_control}}<p class="badge text-bg-success text-lg display-5 col-12 g-1">Adaptive cruise control</p>{{/if}}
                      {{#if collision_warning}}<p class="badge text-bg-warning text-lg display-5 col-12 g-1">Collision warning</p>{{/if}}
                    </div>
                  
                </div>
              {{/with}}

              {{#with sunroof}}
                <div class="card row col-4 m-1 p-1">
                    
                  <div class="card-title text-center">
                    Sunroof
                  </div>
                  <div class="card-body">
                    {{type}} {{size}}
                    {{#if automatic}}<p class="badge text-bg-success text-lg display-5 col-5 g-1">Automatic</p>{{/if}}
                  </div>
                      
                    
                </div>
              {{/with}}
            </div>
          
        {{/with}}
      </div>

    {{/with}}
  </section>

  <section class="row col-12 g-2 my-3">
    <div class="card row col-5 g-5 m-1">
      {{#with engine}}
          <div class="display-7 text-center">Engine</div> <br>
        {{displacement}} | {{horsepower}} | {{torque}}
        {{#with transmission}}
          <div class="display-7 text-center">Transmission</div> <br>
          {{type}} ({{gears}})
        {{/with}}
      {{/with}}
    </div>

    <div class="card row col-5 g-5 m-1">
      {{#with fuel_economy}}
          <div class="display-6 text-center">Fuel economy</div> <br>
          City: {{city}} <br>
          Highway: {{highway}} <br>
          Combined: {{combined}}
      {{/with}}
    </div>

    <div class="card row col-12 g-5 m-1">
      {{#with price}}
          <div class="display-5 text-center">Price</div> <br>
          <center>
            Base: {{base}} <br>
            Destination: {{destination}} <br>
          </center>
          
          {{#with options}}
            <div class="display-7 text-center">Options</div> <br>
            <center>
              Navigation: {{navigation}}<br>
              Moonroof: {{moonroof}}<br>
              Premium paint: {{premium_paint}}<br>
            </center>
            
          {{/with}}
      {{/with}}
    </div>
    
  </section>

</main>