<div>

	<div class="row col-12 m-3 gy-3">
		
		<a href="/" class="btn btn-outline-primary text-center col-3 g-5 p-1">Return to home page</a>
			<div class="col-5 g-5"></div>
		<a href="/bio" class="btn btn-outline-primary text-center col-3 g-5 p-1">Next page</a>		

	</div>
	
	<hr class="row col-12 my-1">

	<div class="row col-12 my-3 nav-tabs">
		<div class="nav">
			{{#each tabs}}	
				<div class="nav-item col-4 g-3">
					<a href="{{href}}" class="btn nav-link {{#if isActive}} active {{/if}}">{{text}}</a>
				</div>
			{{/each}}
		</div>
	</div>	

	<main>
		<div class="row col-12 g-5 text-center">
			
			<div class="col-12 card">
				<h1 class="p-3">{{name}}</h1>
				<p class="p-1">{{description}}</p>
					{{#with history}}
						<p>Founder: {{founder}} | {{year}}</p>
					{{/with}}
			</div>
			
			<section class="col-3 g-2">
				<div class="col-12 text-center g-2 p-1 m-1 card">
					<p class="p-1">Types:</p>
					<ul>
						{{#each types}}
							<li class="text-start">{{this}}</li>
						{{/each}}
					</ul>
				</div>	
			</section>

			<section class="col-9 g-2">
				<div class="row col-12 text-center g-2 p-1 m-1 card">
					{{#with syntax}}

						<div class="row col-12">
							<div class="col-3 g-2 p-1 m-1 card">
								<p class="p-1">Variables:</p>
								<ul>
									{{#each variables}}
										<li class="text-start">{{this}}</li>
									{{/each}}
								</ul>
							</div>

							<div class="col-3 g-2 p-1 m-1 card">
								<p class="p-1">Functions:</p>
								<ul>
									{{#each functions}}
										<li class="text-start">{{this}}</li>
									{{/each}}
								</ul>
							</div>

							<div class="col-3 g-2 p-1 m-1 card">
								<p class="p-1">Conditionals:</p>
								<ul>
									{{#each conditionals}}
										<li class="text-start">{{this}}</li>
									{{/each}}
								</ul>
							</div>

							<div class="col-3 g-2 p-1 m-1 card">
								<p class="p-1">Loops:</p>
								<ul>
									{{#each loops}}
										<li class="text-start">{{this}}</li>
									{{/each}}
								</ul>
							</div>

							<div class="col-3 g-2 p-1 m-1 card">
								<p class="p-1">Classes:</p>
								<ul>
									{{#each classes}}
										<li class="text-start">{{this}}</li>
									{{/each}}
								</ul>
							</div>
						</div>
						
					{{/with}}										
				</div>
			</section>

			<section class="row col-12 g-2">
				<div class="col-3 g-1 m-1 card">
					<p class="p-1">Features:</p>
					{{#each features}}
					
					<ul>
						<li class="text-start">{{this}}</li>
					</ul>
					{{/each}}
				</div>

				<div class="col-3 g-1 m-1 card">
					<p class="p-1">Libraries:</p>
					{{#each libraries}}
					
					<ul>
						<li class="text-start">{{this}}</li>
					</ul>
					{{/each}}
				</div>

				<div class="col-3 g-1 m-1 card">
					<p class="p-1">Tools:</p>
					{{#each tools}}
					
					<ul>
						<li class="text-start">{{this}}</li>
					</ul>
					{{/each}}
				</div>
			</section>

			<section class="row col-12 g-2 text-bg-light">
				{{#each community}}
					<div class="col-2 g-1 m-1">
						<div class="col-12 g-1">
							{{name}} ({{type}})
						</div>
					</div>
				{{/each}}
			</section>
	
		</div>
	</main>
</div>