<div>
	<main>

		<div>
			{{#with page_header}}
				<div class="text-center">

					<h1 class="text-capitalize">
						{{title}}
					</h1>

					<p class="text-uppercase">
						{{description}}
					</p>

				</div>
				
			{{/with}}
		</div>

		<br>

		<div>	
			{{#with section}}
				<div class="card">
					<div class="card-body">
						<div>
							{{#with about_us}}
								<div class="text-end">
									{{#with title_list}}
										<p class="display-6">
											{{main}}
										</p>
										<h2>{{sub}}</h2>
									{{/with}}
								</div>

								<br>

								<div>
									{{#with button}}
										<button class="btn btn-outline-info">
											{{text}}
										</button>
									{{/with}}
								</div>
							{{/with}}
						</div>
					</div>
				</div>

				<br>

				<div>
					{{#with advantage}}
						<div class="card">
							<div class="card-body">
								<p class="text-muted display-5">
									{{title}}
								</p>

								<br>

								<div class="card">
									<div class="card-body">
										{{#with efficiency}}
											<p class="display 4 text-muted text-lowercase">
												{{title}}
											</p>

											<br>

											<h6>
												{{sub_title}}
											</h6>

											<br>

											<p class="text-capitalize">
												{{description}}
											</p>

											<br>

											<button class="btn btn-outline-warning">
												{{button}}
											</button>

										{{/with}}
									</div>
								</div>

								<br>


								<div class="card">
									<div class="card-body">
										{{#with innovation}}
											<div class="text-center">
												<p class="display-4 text-muted text-lowercase">
													{{title}}
												</p>

												<br>

												<h6>
													{{sub_title}}
												</h6>

												<br>

												<p>
													{{description}}
												</p>
											</div>

											<button class="btn btn-outline-warning">
												{{button}}
											</button>
										{{/with}}
									</div>
								</div>

								<br>

								<div class="card">
									<div class="card-body">
										{{#with collaboration}}
											<div class="text-end">
												<p class="display-4 text-muted text-lowercase">
													{{title}}
												</p>

												<br>

												<h6>
													{{sub_title}}
												</h6>

												<br>

												<p>
													{{description}}
												</p>
											</div>

											<button class="btn btn-outline-warning">
												{{button}}
											</button>
										{{/with}}
									</div>
								</div>

							</div>
						</div>
					{{/with}}
				</div>

				<br>

				<div class="card">
					<div class="card-body">
						{{#with agreement}}
							<p class="display-5 text-lowercase">
								{{title}}
							</p>

							<div class="card">
								<div class="card-body">
									{{#with info}}
										<h5>{{sub_title}}</h5>
										
										<br>

										<div class="card">
											<div class="card-body">
												{{#with detail}}
													<p>{{text}}</p>
													<button class="btn btn-success">
														{{button}}
													</button>
												{{/with}}
											</div>
										</div>
									{{/with}}
								</div>
							</div>

						{{/with}}
					</div>
				</div>

			{{/with}}
		</div>
	</main>
</div>