<div>

	<div class="row col-12 m-3 gy-3">
		
		<a href="/" class="btn btn-outline-primary text-center col-3 g-5 p-1">Return to home page</a>
			<div class="col-5 g-5"></div>
		<a href="/bio" class="btn btn-outline-primary text-center col-3 g-5 p-1">Next page</a>		

	</div>
	
	<hr class="row col-12 my-1">
	
	{{#with web}}

		<div class="row col-12 my-3 nav-tabs">
			<div class="nav">
				{{#each tabs}}	
					<div class="nav-item col-4 g-3">
						<a href="{{href}}" class="btn nav-link {{#if isActive}} active {{/if}}">{{text}}</a>
					</div>
				{{/each}}
			</div>
		</div>	


	<main>
		
		<section class="row col-12 g-3">

			<center>{{> title data='Web languages'}}</center>
			<br>
			<ul>
				{{#each languages}}
					<li>
						
						<div>
							<center>
								<dl>
								<dt><b>{{name}} ({{version}})</b></dt>
								<dd>{{description}}</dd>
							</dl>
							</center>
						</div>
						<div>
							{{#if elements}}
							<br>
							<em>Elements:</em>
							<ul>
								{{#each elements}}
								<li>
									<div>
										{{name}} ({{description}})
									</div>

									<div>
										{{#if attributes}}
											<details>
												<summary>Attributes</summary>
												<ul>
													{{#each attributes}}
													<li>
														<div>
															{{name}} ({{description}})
														</div>
													</li>
													{{/each}}
												</ul>
											</details>
											<br>
											
										{{/if}}
									</div>
								</li>
								{{/each}}
							</ul>
							{{/if}}
						</div>
						<div>
							{{#if properties}}
							<br>
								<em>Properties:</em>
								<ul>
									{{#each properties}}
									<li>
										<div>
											{{name}} ({{description}})
										</div>
										
										<div>
											<details>
												<summary>Values</summary>
												<ul>
													{{#each values}}
													<li>
														{{value}} ({{description}})
													</li>
													{{/each}}
												</ul>
											</details>
											<br>
										</div>
									</li>
									{{/each}}
								</ul>
							{{/if}}
						</div>

						<div>
							{{#if functions}}
							<br>
								<em>Functions:</em>
								<ul>
									{{#each functions}}
									<li>
										<div>
											{{name}} ({{description}})
										</div>
										<div>
											<details>
												<summary>Parameters</summary>
												<ul>
													{{#each parameters}}
														<li>
															<div>
																<dl>
																	<dt>{{name}} ({{type}})</dt>
																	<dd>{{description}}</dd>
																</dl>
															</div>
														</li>
													{{/each}}
												</ul>
											</details>
											<br>
										</div>
									</li>
									{{/each}}
								</ul>
							{{/if}}
						</div>

					</li>
					<br>
					<hr>
					
				{{/each}}
			</ul>
		</section>
	</main>
	{{/with}}
</div>