<div class="row col-12">
        

    <div class="row col-5 g-1 my-2 mx-1">
        {{#with surname}}
            <div>
                            
                <label class="form-label">{{label}}</label>
                <input class="form-control-sm" placeholder="{{placeholder}}">
                <div class="form-text text">{{caption}}</div>			
            
            </div>
        {{/with}}
    </div>

    <div class="row col-5 g-1 my-2 mx-1">
        {{#with name}}
            <div>
                            
                <label class="form-label">{{label}}</label>
                <input class="form-control-sm" placeholder="{{placeholder}}">
                <div class="form-text text">{{caption}}</div>			
            
            </div>
        {{/with}}
    </div>

    <div class="row col-5 g-1 my-2 mx-1">
        {{#with phone}}
            <div>
                            
                <label class="form-label">{{label}}</label>
                <input class="form-control-sm" placeholder="{{placeholder}}">
                <div class="form-text text">{{caption}}</div>			
            
            </div>
        {{/with}}
    </div>

    <div class="row col-5 g-1 my-2 mx-1">
        {{#with email}}
            <div>
                            
                <label class="form-label">{{label}}</label>
                <input class="form-control-sm" placeholder="{{placeholder}}">
                <div class="form-text text">{{caption}}</div>			
            
            </div>
        {{/with}}
    </div>
        
        
</div>