
    <div class="col-2 g-3 m-1">
        <div class="col-12">
            <img class="card-img-top px-1 py-4" src="{{image}}" alt="{{name}}">
        </div>	
    </div>

    <div class="col-3 g-3 m-1">
        <div class="col-12">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-body text-capitalize p-1">{{description}}</p>
        </div>
    </div>	

     <div class="col-2 g-3 m-1">
        <div class="col-12">
            {{#with price}}
                <p class="card-body text-capitalize p-1">{{title}}</p>
                <h4 class="card-title">{{value}}</h4>
            {{/with}}
        </div>	
    </div>		

     <div class="col-2 g-3 m-1">
        <div class="col-12">
            <p class="card-body text-lowercase p-1">{{amount}}</p>	
        </div>
    </div>	

    <div class="col-2 g-3 m-1">
        <div class="col-12">
            {{#each buttons}}
                <button class="btn
                {{#if isPrimary}} btn-primary {{/if}}
                {{#if isDanger}} btn-outline-danger {{/if}} btn-sm m-1">{{text}}</button>
            {{/each}}
        </div>
    </div>	

    <hr>		



